{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class='text_back'>
		<div class='header'>
			<h2> Are you sure you want to delete {{item.name}}? </h2>
		</div>

		<div class='center_box'>
		
			<form action="{{ url_for('deleteBook', subgenre_id = item.subgenre_id, book_id=item.id)}}" method = 'post'>
				<input type='submit', value = 'Delete'>
			</form>

			<a href = "{{ url_for('showBooklist', subgenre_id = item.subgenre_id)}}"> Cancel </a>
			<br>
			<br>
		</div>
	</div>
{% endblock %}